env
*.DS_Store
*.pyc
__pycache__
.vscode/settings.json
.gitignore
.circleci/old-config.yml
.gitignore
certificates/domain-crt.crt
certificates/domain-key.key
certificates/100daysofk8s.crt
certificates/100daysofk8s.key
certificates/certificate.crt
.gitignore
